<!DOCTYPE html>
<html>

<head>
<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
</head>

<body ng-app="">
<div ng-init="person={firstName:'John',lastName:'Doe'}">

<p>The name is {{ person.lastName }}</p>

</div>

<div ng-init="son={firstName:'Deon',lastName:'John'}">

<p>The name is {{ son.lastName }}</p>
<h3>Angular JS Array</h3>
<div ng-init="points=[1,15,19,2,40]">

<p>The points are {{ points[2] * points[4] }}</p>

</div> 
</div>
<div>

Quantity: <input type="number"	ng-model="quantity">
Costs:    <input type="number" ng-model="price">

Total in dollar: {{ quantity * price }}

</div>
</body>
</html>
